<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaiye.plugin.plat.platefence.holder.PlatEfenceMapper">
	
	<resultMap id="BaseResultMap" type="com.huaiye.plugin.plat.platefence.holder.PlatEfenceHolder">
		<result column="ID" property="id" />
		<result column="ENT_CODE" property="entCode" />
		<result column="DEPT_ID" property="deptId" />
		<result column="EFENCE_NAME" property="efenceName" />
		<result column="SHORT_NAME" property="shortName" />
		<result column="AREA_TYPE" property="areaType" />
		<result column="ORDER_SEQ" property="orderSeq" />
		<result column="REMARK" property="remark" />
		<result column="ISDEL" property="isdel" />
		<result column="CREATE_USER_ID" property="createUserId" />
		<result column="UPDATE_USER_ID" property="updateUserId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="STATUS" property="status" />
		<result column="LNG" property="lng" />
		<result column="LAT" property="lat" />
		<result column="PLACE" property="place" />
		<result column="TAGS" property="tags" />
		<result column="AREA_SERVICE_TYPE" property="areaServiceType" />
		<result column="PARENT_ID" property="parentId" />
		<result column="EFENCE_PARAMS" property="efenceParams" />
	</resultMap>
	
	<sql id="Base_Colnum_List">
		`ID`,`ENT_CODE`,`DEPT_ID`,`EFENCE_NAME`,`SHORT_NAME`,`AREA_TYPE`,`ORDER_SEQ`,`REMARK`,`ISDEL`,`CREATE_USER_ID`,`UPDATE_USER_ID`,`CREATE_TIME`,`UPDATE_TIME`,`STATUS`,`LNG`,`LAT`,`PLACE`,`TAGS`,`AREA_SERVICE_TYPE`,`PARENT_ID`,`EFENCE_PARAMS`
	</sql>
	
	<sql id="Where_Clause">
		<trim suffixOverrides="and | or">
			<if test="id != null ">
				and `ID` = #{id}
			</if>
			<if test="entCode != null and entCode != ''">
				and `ENT_CODE` = #{entCode}
			</if>
			<if test="deptId != null and deptId != ''">
				and `DEPT_ID` = #{deptId}
			</if>
			<if test="efenceName != null and efenceName != ''">
				<choose>
					<when test="nofuzzy == 1">
				and `EFENCE_NAME` = #{efenceName}
					</when>
					<otherwise>
				and `EFENCE_NAME` like concat("%", #{efenceName}, "%") 
					</otherwise>
				</choose>
			</if>
			<if test="shortName != null and shortName != ''">
				<choose>
					<when test="nofuzzy == 1">
				and `SHORT_NAME` = #{shortName}
					</when>
					<otherwise>
				and `SHORT_NAME` like concat("%", #{shortName}, "%") 
					</otherwise>
				</choose>
			</if>
			<if test="areaType != null and areaType != ''">
				and `AREA_TYPE` = #{areaType}
			</if>
			<if test="orderSeq != null ">
				and `ORDER_SEQ` = #{orderSeq}
			</if>
			<if test="remark != null and remark != ''">
				and `REMARK` = #{remark}
			</if>
			<if test="isdel != null ">
				and `ISDEL` = #{isdel}
			</if>
			<if test="createUserId != null ">
				and `CREATE_USER_ID` = #{createUserId}
			</if>
			<if test="updateUserId != null ">
				and `UPDATE_USER_ID` = #{updateUserId}
			</if>
			<if test="createTime != null and createTime != ''">
				and `CREATE_TIME` = #{createTime}
			</if>
			<if test="createTimeL != null and createTimeL != ''">
				and `CREATE_TIME` &gt;= #{createTimeL}
			</if>
			<if test="createTimeR != null and createTimeR != ''">
				and `CREATE_TIME` &lt;= #{createTimeR}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and `UPDATE_TIME` = #{updateTime}
			</if>
			<if test="status != null and status != ''">
				and `STATUS` = #{status}
			</if>
			<if test="lng != null and lng != ''">
				and `LNG` = #{lng}
			</if>
			<if test="lat != null and lat != ''">
				and `LAT` = #{lat}
			</if>
			<if test="place != null and place != ''">
				and `PLACE` = #{place}
			</if>
			<if test="tags != null and tags != ''">
				and `TAGS` = #{tags}
			</if>
			<if test="areaServiceType != null ">
				and `AREA_SERVICE_TYPE` = #{areaServiceType}
			</if>
			<if test="parentId != null ">
				and `PARENT_ID` = #{parentId}
			</if>
			<if test="efenceParams != null and efenceParams != ''">
				and `EFENCE_PARAMS` = #{efenceParams}
			</if>
		</trim>
	</sql>
	
	<sql id="Delete_Clause">
		where <trim prefixOverrides="and | or"><include refid="Where_Clause" /></trim>
	</sql>
	
	<insert id="insert" parameterType="com.huaiye.plugin.plat.platefence.holder.PlatEfenceHolder">
		insert into plat_efence( <include refid="Base_Colnum_List" /> )values( #{id},#{entCode},#{deptId},#{efenceName},#{shortName},#{areaType},#{orderSeq},#{remark},#{isdel},#{createUserId},#{updateUserId},#{createTime},#{updateTime},#{status},#{lng},#{lat},#{place},#{tags},#{areaServiceType},#{parentId},#{efenceParams} )
	<selectKey keyProperty="id" resultType="java.lang.Integer">	select LAST_INSERT_ID() as id  </selectKey></insert>
	
	<insert id="insertBatch">
		insert into plat_efence(<include refid="Base_Colnum_List" />)
		VALUES
		<foreach collection="list" item="log" separator=",">  
		(#{log.id},#{log.entCode},#{log.deptId},#{log.efenceName},#{log.shortName},#{log.areaType},#{log.orderSeq},#{log.remark},#{log.isdel},#{log.createUserId},#{log.updateUserId},#{log.createTime},#{log.updateTime},#{log.status},#{log.lng},#{log.lat},#{log.place},#{log.tags},#{log.areaServiceType},#{log.parentId},#{log.efenceParams} )
		</foreach>
	<selectKey keyProperty="id" resultType="java.lang.Integer">	select LAST_INSERT_ID() as id  </selectKey>
	</insert>
	
	<update id="update" parameterType="com.huaiye.plugin.plat.platefence.holder.PlatEfenceHolder">
		update plat_efence set
		<trim suffixOverrides=",">
			<if test="id != null">
				`ID` = #{id},
			</if>
			<if test="entCode != null">
				`ENT_CODE` = #{entCode},
			</if>
			<if test="deptId != null">
				`DEPT_ID` = #{deptId},
			</if>
			<if test="efenceName != null">
				`EFENCE_NAME` = #{efenceName},
			</if>
			<if test="shortName != null">
				`SHORT_NAME` = #{shortName},
			</if>
			<if test="areaType != null">
				`AREA_TYPE` = #{areaType},
			</if>
			<if test="orderSeq != null">
				`ORDER_SEQ` = #{orderSeq},
			</if>
			<if test="remark != null">
				`REMARK` = #{remark},
			</if>
			<if test="isdel != null">
				`ISDEL` = #{isdel},
			</if>
			<if test="createUserId != null">
				`CREATE_USER_ID` = #{createUserId},
			</if>
			<if test="updateUserId != null">
				`UPDATE_USER_ID` = #{updateUserId},
			</if>
			<if test="createTime != null">
				`CREATE_TIME` = #{createTime},
			</if>
			<if test="updateTime != null">
				`UPDATE_TIME` = #{updateTime},
			</if>
			<if test="status != null">
				`STATUS` = #{status},
			</if>
			<if test="lng != null">
				`LNG` = #{lng},
			</if>
			<if test="lat != null">
				`LAT` = #{lat},
			</if>
			<if test="place != null">
				`PLACE` = #{place},
			</if>
			<if test="tags != null">
				`TAGS` = #{tags},
			</if>
			<if test="areaServiceType != null">
				`AREA_SERVICE_TYPE` = #{areaServiceType},
			</if>
			<if test="parentId != null">
				`PARENT_ID` = #{parentId},
			</if>
			<if test="efenceParams != null">
				`EFENCE_PARAMS` = #{efenceParams},
			</if>
		</trim>
		where ID=#{id}
	</update>
	
	<delete id="delete" parameterType="com.huaiye.plugin.plat.platefence.holder.PlatEfenceHolder">
		delete from plat_efence <include refid="Delete_Clause" />
	</delete>
	
	<sql id="Query_Clause">
		where 1=1 <include refid="Where_Clause" />
	</sql>
	
	<select id="getList" resultMap="BaseResultMap" parameterType="com.huaiye.plugin.plat.platefence.holder.PlatEfenceHolder">
		select <include refid="Base_Colnum_List" /> from plat_efence <include refid="Query_Clause" />
		<if test="groupBy != null and groupBy != ''"> 
			group by ${groupBy}
		</if> 
		<if test="sort != null and sort != ''"> 
			order by ${sort.field} ${sort.order} 
		</if> 
	</select> 

	<select id="getCountOfSummary" resultType="int" parameterType="com.huaiye.plugin.plat.platefence.holder.PlatEfenceHolder">
		select count(1) from (SELECT 1 FROM plat_efence <include refid="Query_Clause" />
		<if test="groupBy != null and groupBy != ''"> 
			group by ${groupBy}
		</if> ) temp
	</select> 

	<select id="getListOfSummary" resultMap="BaseResultMap" parameterType="com.huaiye.plugin.plat.platefence.holder.PlatEfenceHolder">
		select <include refid="Base_Colnum_List" /> from plat_efence <include refid="Query_Clause" />
		<if test="groupBy != null and groupBy != ''"> 
			group by ${groupBy}
		</if> 
		<if test="sort != null and sort != ''"> 
			order by ${sort.field} ${sort.order} 
		</if>
		limit ${pages.startNo},${pages.pageSize} 
	</select>
	
</mapper>  
