<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaiye.plugin.plat.platconfig.holder.PlatConfigMapper">
	
	<resultMap id="BaseResultMap" type="com.huaiye.plugin.plat.platconfig.holder.PlatConfigHolder">
		<result column="ID" property="id" />
		<result column="CONFIG_NAME" property="configName" />
		<result column="CONFIG_VALUE" property="configValue" />
		<result column="CONFIG_TYPE" property="configType" />
		<result column="CONFIG_CODE" property="configCode" />
		<result column="DESCRIPTION" property="description" />
		<result column="VALID_SPAN" property="validSpan" />
		<result column="ISDEL" property="isdel" />
		<result column="CREATE_USER_ID" property="createUserId" />
		<result column="UPDATE_USER_ID" property="updateUserId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	
	<sql id="Base_Colnum_List">
		`ID`,`CONFIG_NAME`,`CONFIG_VALUE`,`CONFIG_TYPE`,`CONFIG_CODE`,`DESCRIPTION`,`VALID_SPAN`,`ISDEL`,`CREATE_USER_ID`,`UPDATE_USER_ID`,`CREATE_TIME`,`UPDATE_TIME`
	</sql>
	
	<sql id="Where_Clause">
		<trim suffixOverrides="and | or">
			<if test="id != null ">
				and `ID` = #{id}
			</if>
			<if test="configName != null and configName != ''">
				<choose>
					<when test="nofuzzy == 1">
				and `CONFIG_NAME` = #{configName}
					</when>
					<otherwise>
				and `CONFIG_NAME` like concat("%", #{configName}, "%") 
					</otherwise>
				</choose>
			</if>
			<if test="configValue != null and configValue != ''">
				and `CONFIG_VALUE` = #{configValue}
			</if>
			<if test="configType != null and configType != ''">
				and `CONFIG_TYPE` = #{configType}
			</if>
			<if test="configCode != null and configCode != ''">
				and `CONFIG_CODE` = #{configCode}
			</if>
			<if test="description != null and description != ''">
				and `DESCRIPTION` = #{description}
			</if>
			<if test="validSpan != null ">
				and `VALID_SPAN` = #{validSpan}
			</if>
			<if test="isdel != null ">
				and `ISDEL` = #{isdel}
			</if>
			<if test="createUserId != null ">
				and `CREATE_USER_ID` = #{createUserId}
			</if>
			<if test="updateUserId != null ">
				and `UPDATE_USER_ID` = #{updateUserId}
			</if>
			<if test="createTime != null and createTime != ''">
				and `CREATE_TIME` = #{createTime}
			</if>
			<if test="createTimeL != null and createTimeL != ''">
				and `CREATE_TIME` &gt;= #{createTimeL}
			</if>
			<if test="createTimeR != null and createTimeR != ''">
				and `CREATE_TIME` &lt;= #{createTimeR}
			</if>
			<if test="updateTime != null and updateTime != ''">
				and `UPDATE_TIME` = #{updateTime}
			</if>
		</trim>
	</sql>
	
	<sql id="Delete_Clause">
		where <trim prefixOverrides="and | or"><include refid="Where_Clause" /></trim>
	</sql>
	
	<insert id="insert" parameterType="com.huaiye.plugin.plat.platconfig.holder.PlatConfigHolder">
		insert into plat_config( <include refid="Base_Colnum_List" /> )values( #{id},#{configName},#{configValue},#{configType},#{configCode},#{description},#{validSpan},#{isdel},#{createUserId},#{updateUserId},#{createTime},#{updateTime} )
	<selectKey keyProperty="id" resultType="java.lang.Integer">	select LAST_INSERT_ID() as id  </selectKey></insert>
	
	<insert id="insertBatch">
		insert into plat_config(<include refid="Base_Colnum_List" />)
		VALUES
		<foreach collection="list" item="log" separator=",">  
		(#{log.id},#{log.configName},#{log.configValue},#{log.configType},#{log.configCode},#{log.description},#{log.validSpan},#{log.isdel},#{log.createUserId},#{log.updateUserId},#{log.createTime},#{log.updateTime} )
		</foreach>
	<selectKey keyProperty="id" resultType="java.lang.Integer">	select LAST_INSERT_ID() as id  </selectKey>
	</insert>
	
	<update id="update" parameterType="com.huaiye.plugin.plat.platconfig.holder.PlatConfigHolder">
		update plat_config set
		<trim suffixOverrides=",">
			<if test="id != null">
				`ID` = #{id},
			</if>
			<if test="configName != null">
				`CONFIG_NAME` = #{configName},
			</if>
			<if test="configValue != null">
				`CONFIG_VALUE` = #{configValue},
			</if>
			<if test="configType != null">
				`CONFIG_TYPE` = #{configType},
			</if>
			<if test="configCode != null">
				`CONFIG_CODE` = #{configCode},
			</if>
			<if test="description != null">
				`DESCRIPTION` = #{description},
			</if>
			<if test="validSpan != null">
				`VALID_SPAN` = #{validSpan},
			</if>
			<if test="isdel != null">
				`ISDEL` = #{isdel},
			</if>
			<if test="createUserId != null">
				`CREATE_USER_ID` = #{createUserId},
			</if>
			<if test="updateUserId != null">
				`UPDATE_USER_ID` = #{updateUserId},
			</if>
			<if test="createTime != null">
				`CREATE_TIME` = #{createTime},
			</if>
			<if test="updateTime != null">
				`UPDATE_TIME` = #{updateTime},
			</if>
		</trim>
		where ID=#{id}
	</update>
	
	<delete id="delete" parameterType="com.huaiye.plugin.plat.platconfig.holder.PlatConfigHolder">
		delete from plat_config <include refid="Delete_Clause" />
	</delete>
	
	<sql id="Query_Clause">
		where 1=1 <include refid="Where_Clause" />
	</sql>
	
	<select id="getList" resultMap="BaseResultMap" parameterType="com.huaiye.plugin.plat.platconfig.holder.PlatConfigHolder">
		select <include refid="Base_Colnum_List" /> from plat_config <include refid="Query_Clause" />
		<if test="groupBy != null and groupBy != ''"> 
			group by ${groupBy}
		</if> 
		<if test="sort != null and sort != ''"> 
			order by ${sort.field} ${sort.order} 
		</if> 
	</select> 

	<select id="getCountOfSummary" resultType="int" parameterType="com.huaiye.plugin.plat.platconfig.holder.PlatConfigHolder">
		select count(1) from (SELECT 1 FROM plat_config <include refid="Query_Clause" />
		<if test="groupBy != null and groupBy != ''"> 
			group by ${groupBy}
		</if> ) temp
	</select> 

	<select id="getListOfSummary" resultMap="BaseResultMap" parameterType="com.huaiye.plugin.plat.platconfig.holder.PlatConfigHolder">
		select <include refid="Base_Colnum_List" /> from plat_config <include refid="Query_Clause" />
		<if test="groupBy != null and groupBy != ''"> 
			group by ${groupBy}
		</if> 
		<if test="sort != null and sort != ''"> 
			order by ${sort.field} ${sort.order} 
		</if>
		limit ${pages.startNo},${pages.pageSize} 
	</select>
	
</mapper>  
