#playCanvas {
    width: 100%;
    height: 80%;
}

#videos-container {
    width: 100%;
    height: 80%;
}

#tbPlayCanvas {
    width: 100%;
    height: 80%;
}

#tb-videos-container {
    width: 100%;
    height: 80%;
}


#mtPlayCanvas {
    width: 100%;
    height: 80%;
}

#mt-videos-container {
    width: 100%;
    height: 80%;
}



